@model FooterViewModel
@using ES.Web.Models.Client
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text.RegularExpressions
@inject IViewLocalizer Localizer




@using System.Globalization


@if (Model.Pages.Count > 0)

{


    <div class="footer">

        <div class="container-fluid wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                   


                    @if (Model.Pages.Count > 0)


                    {

                        @Html.Raw(Model.Pages[0].ShortDescription)
                    }

                    <ul class="socials">
                    

                        @await Component.InvokeAsync("SocialMediaIcons")
                    </ul>

                </div>
                <div class="col-md-2"></div>

                <div class="col-sm-4 col-md-2">
                  


                    @if (Model.Pages.Count > 1)


                    {

                        @Html.Raw(Model.Pages[1].ShortDescription)
                    }

                </div>

                <div class="col-sm-4 col-md-2">
                   



                    @if (Model.Pages.Count > 2)


                    {

                        @Html.Raw(Model.Pages[2].ShortDescription)
                    }
                </div>

                <div class="col-sm-4 col-md-2">
                    


                    @if (Model.Pages.Count > 3)


                    {

                        @Html.Raw(Model.Pages[3].ShortDescription)
                    }

                </div>

            </div>


        </div>

    </div>
    <div class="copyright">
        <div class="container-fluid wow fadeInUp" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
            <div class="row">
                <div class="col-md-12">Copyright © 2025 by Es.jo. All Rights Reserved.</div>
            </div>
        </div>
    </div>



   

   

}




