  
@media (max-width: 1200px) {

#cssmenu > ul > li > a {
        padding: 15px 10px;
        font-size: 12px;
}

}

@media (max-width: 991px) {
.container-fluid
{
	padding-left: 15px;
	padding-right: 15px;
}

.get-started {
    margin-top: 0;
    position: absolute;
    top: 22px;
    right: 50px;
}
.btn-started {
        display: inline-block;
        padding: 6px 10px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 0px;
}
	
#cssmenu {
    width: auto;
    line-height: 1;
    margin-top: 0px;
    float: right;
    background-color: rgb(255 255 255 / 0%);
    padding: 12px;
    border-radius: 12px;
}	
[data-toggle=modal], button i {
    position: absolute;
    display: inline-block;
    top: -45px;
    right: 180px;
}	
.btn-header {
    padding: 10px 20px;
	font-size: 14px;
}
	
	
.menu-opened
	{
		position: fixed !important;
	}
	
#cssmenu .menu-opened::before {
position: fixed !important;
        top: 30px !important;
        right: 15px !important;
        rotate: 135deg;
        border-top: 0px solid #C13B5F !important;
    }
#cssmenu .menu-opened::after {
        position: fixed !important;
        top: 31px !important;
        right: 18px !important;
        rotate: 45deg;
    }	

.services ul{
        text-align: center;
}
.services ul li {
        margin: 15px 0px 0 0px;
        width:48%;
	    text-align: left;
}
.services ul li .text {
    height: 50px;
}
.feedback ul li {
    margin: 15px 0px 0 0px;
    width: 100%;
}
	
}


@media (max-width: 768px) {
.level-item {
    width: 100%;
    margin: 15px 0px;
}
	
.news ul li {
    margin: 15px 0px 0 0px;
    width: 100%;
}
.feedback ul li {
    margin: 15px 0px 0 0px;
    width: 100%;
}
	
.feedback ul li img
{
    height: 45px;
}
	
.services ul li {
        margin: 15px 0px 0 0px;
        width: 100%;
}

	
.pic-inner {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 30px;
    float: none;
}
.caption-carousel {
    position: absolute;
    left: 10%;
    right: 10%;
	top: 5px;
    padding-top: 20px;
    width: 80%;
    margin: auto;
    color: #fff;
    text-align: center;
}

.caption-carousel h2 {
    font-size: 20px;
}
.caption-carousel h1 span {
    font-size: 10px;
}
.caption-carousel h3 {
        font-size: 12px;
        line-height: normal;
}
	
.carousel-indicators {
    position: absolute;
    bottom: 0px;
    padding-right: 0px;
    z-index: 15;
    width: 100%;
    left: 0;
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}


}




@media (max-width: 767px) {
.carousel {
    height: 350px;
}
.item, .carousel-inner {
    height: 350px;
}
.fill {
    width: 100%;
    height: 350px;

}
.title {
    font-size: 35px;
}

	
.code_apply {
    display: block;
    padding: 12px 20px;
    margin: 0px 0px 10px 20px;
    min-height: 50px;
    color: #fff;
    width: 100%;
    float: right;
}
.pic-inner {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-bottom: 30px;
    float: none;
}

.img-left {
    position: absolute;
    right: 8px;
    top: -95px;
    z-index: 99;
    height: 815px;
    height: 100%;
    rotate: -15deg;
    display: none;
}	
	.logo img {
        height: 65px;
        margin-top: 0;
        padding-top: 20px;
}	
	
}



@media (max-width: 480px) {




}