/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7),
.tabset > input:nth-child(15):checked ~ .tab-panels > .tab-panel:nth-child(8)
{
  display: block;
}


.tabset > label {
  position: relative;
  display: inline-block;
  padding:12px 20px;
  border: 1px solid #00308c;
  cursor: pointer;
  font-size:16px;
  margin-bottom: 0px;
  color: #00308c;
  border-radius: 5px;
  font-weight: 600;
  background-color: #f5f5f5;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left:0px;
  bottom: 0px;
  width: 100%;
  height: 0px;
  background: #fff;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color:#00308c ;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #00308c;
}

.tabset > input:checked + label {
    border-bottom: 0px solid #fff;
    margin-bottom: 0;
    color: #ffffff;
    background-color: #00308c;
}

.tab-panel {
  padding: 15px 0;
}
.tab-panel h2
{
    color: #00308c;
	font-size: 30px;
	margin-bottom: 15px;
}
.tab-panel p
{
    color: #00308c;
	font-size: 18px;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.tabset {
  max-width: 100%;
}


@media (max-width: 768px) {

.tabset > label {
        position: relative;
        display: inline-block;
        padding: 12px 8px;
        border: 1px solid #00308c;
        cursor: pointer;
        font-size: 2vw;
        width: auto;
        text-align: center;
        margin-bottom: 0px;
        color: #00308c;
        border-radius: 8px;
        font-weight: 600;
        background-color: #f5f5f5;
        margin-bottom: 5px;

}

}





