.counter-bg {
  padding:50px 0;
background: #F0F5FD;
background: linear-gradient(89deg, #1B1464 0%, #F7931E  100%); 
	position: relative;
    color:#fff;
	border-radius: 5px;
	margin-top: 0px;
}

.play-c
{
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;

}
.counter-bg-inner {
  padding:20px 0;
background: #fff;
	position: relative;
    color:#fff;
	border-radius: 5px;
	margin-top: 30px;
}
.level {
  margin: 0 ;
}

.level-item
{
    display: inline-block;
    width: 40%;
    position: relative;
    padding: 10px 24px;
    margin: 15px 10px;
	border-radius: 5px;
    background: #FFFFFF33 url("../images/counter-icon.png") no-repeat right top;    
	background-size: 55px;
}


.level-item .icon
{
    margin: auto;
    position: absolute;
    padding: 0px;
	left: 0;
}


.level-item .icon i
{
    font-size: 25px;
}


.heading
{
	font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    margin:0;
    padding: 0px 0px;
}

.title-counter {
    font-size: 38px;
    color: #fff;
    padding: 15px 0;
    text-align: left;
    font-weight: 800;
    margin: 0px;
    line-height: 30px;
}