html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel {
    height: 575px;
}

.carousel-inner {
  height: 100%;
  background: #000;
}


.carousel-caption {
    left: 10%;
    right:10%;
    top:120px;
    text-align: center;
    width: 80%;
    padding-top: 80px;
    bottom: 0;
    padding-bottom: 0px;
}


h2{font-size: 70px;font-weight:800;}
h3{font-size: 18px;}
p{padding:10px; font-size:15px;}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.6;
}

.fill img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.fill video {
    display: inline-block;
    width: 100%;
}
.carousel-indicators {
    top: 40%;
    position: absolute;
    bottom: 10px;
    right: 10%;
    z-index: 15;
    width: 20px;
    padding-right: 0;
    margin-right: 0;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    text-indent: -999px;
    cursor: pointer;
    background: url('../images/off.png') no-repeat center center;;
    border: 0px solid rgba(255, 255, 255, 0.0);
    border-radius:0px;
}

.carousel-indicators .active {
    width: 25px;
    height: 25px;
    margin: 2px;    
    background: url('../images/on.png') no-repeat center center;;
}


.carousel-control 
{
    width: 7%;
}

/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}




.carousel-caption2 {
    right: 10% !important;
    left: 10% !important;
    top: auto !important;
    bottom:30px !important;
    padding: 50px !important;
    width: 80%;
    text-align: left;
    background-color: rgb(43 67 66 / 91%);
}


.carousel-caption .title1 {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
}

.carousel-caption .title2
{
	font-size:20px;        
	color:#fff; 
	font-weight:300;   
    margin-bottom:0px;
}








