/* content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-4 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
	background-color: #fff;    
	border:1px #e5e5e5 solid;
	border-radius: 5px;    
	-webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    overflow:hidden;

}

#amazingcarousel-4 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
    height: 295px;
    object-fit: cover;
    border: 0;
	margin: 0;
	padding:0px;    
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}


.big-link {
    font-size: 25px;
    display: block;
    color: #9b9b9b;
    padding: 20px 0px;
}

#amazingcarousel-4 .amazingcarousel-title {
	position:relative;
	color:#2e2e2e;
	font-size:20px;
	margin:12px 6px;
	text-align: center;
	line-height: 14px;
	overflow: hidden;
	height:20px;
	text-transform:capitalize;
}

#amazingcarousel-4 .amazingcarousel-description {
	position:relative;
	font: 12px 'Open Sans', sans-serif;
	color:#333333; 
	margin:6px;
	text-align:left;
	line-height: 14px;		
	overflow: hidden;
}

/* carousel */

#amazingcarousel-container-1 {
    margin: 20px 0 0 0;
}

#amazingcarousel-4 .amazingcarousel-list-container { 
	padding: 0px 0px;
}

/* item */

#amazingcarousel-4 .amazingcarousel-item-container {
	text-align: center;
	padding: 4px;
}

/* arrows */

#amazingcarousel-4 .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: -60px;
	margin-top: -24px;
}

#amazingcarousel-4 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -60px;
	margin-top: -24px;
}

/* navigation bullets */

#amazingcarousel-4 .amazingcarousel-nav {
	position: relative;
	margin-top:20px;
}

#amazingcarousel-4 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}



